body {
    background-color: #FFFFFF;
}

.banner {
    width: 100vw;
}

.principal {
    background-color: lightgray;
    padding: 30px;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: lightgray;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.navegacao {
    width: 100%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: darkcyan;
}

p {
    text-align: center;
}

.mission {
    font-size: 20px;
}

em strong {
    color: darkred;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

.titulo-centralizado {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20vw;
    margin-right: 15vw;
}

.beneficios-banner {
    width: 30vw;
}