body {
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}

main {
    padding: 0 100px;
}

.banner {
    width: 100vw;
}

.principal {
    padding: 30px;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: lightgray;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.navegacao {
    width: 100%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: darkcyan;
}

p {
    text-align: center;
}

.mission {
    font-size: 20px;
}

em strong {
    font-style: bold;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
    text-align: left;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20vw;
    margin-right: 15vw;
}

.beneficios-banner {
    width: 30vw;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 2em;
}

footer {
    text-align: center;
    background-image: url("../images/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}